<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>타이틀</th>
        <th>컨텐츠</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="boards : ${boards}">
        <td th:text="${boards.title}"></td>
        <td th:text="${boards.content}"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
