<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div>
    <!-- 검색 -->
    <form th:action="@{/boards/search}" method="GET">
      <label for="query">Search:</label>
      <input type="text" id="query" name="query">
      <button type="submit">Search</button>
    </form>



    <table class="table table-striped">
      <thead>
      <tr>
        <th>타이틀</th>
        <th>컨텐츠</th>
        <th>작성자</th>
        <th>작성일자</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="boards : ${boards}">
        <td th:text="${boards.title}"></td>
        <td th:text="${boards.content}"></td>
        <td th:text="${boards.member.username}"></td>
        <td th:text="${boards.createdDate.year} + '-' + ${boards.createdDate.monthValue} + '-' + ${boards.createdDate.dayOfMonth}"></td>


        <!-- 수정 버튼 -->
        <td>
          <a th:if="${session.loginMember.username != null and session.loginMember.id == boards.member.id}"
             href="/boards/edit" class="btn btn-primary">수정</a>
        </td>
        <!-- 삭제 버튼 -->
        <td>
        <a th:if="${session.loginMember.username != null and session.loginMember.id == boards.member.id}"
           th:href="@{/boards/delete/{boardId}(boardId=${boards.id})}" class="btn btn-danger">삭제</a>
        </td>



      </tbody>
    </table>
  </div>

  <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
