<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
</head> <!-- head 열기 -->
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <form role="form" action="/members/board" th:object="${boardForm}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label th:for="title">타이틀</label>
                <input type="text" th:field="*{title}" class="form-control" placeholder="타이틀을 입력하세요"
                       th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect date</p>
            </div>
            <div class="form-group">
                <label th:for="contents">컨텐츠</label>
                <input type="text" th:field="*{contents}" class="form-control" placeholder="내용을 입력하세요"
                       th:class="${#fields.hasErrors('contents')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}">Incorrect date</p>
            </div>
            <div class="form-group">
                <input name="title" type="text">
                <textarea name="content"></textarea>
                <input type="file" name="file">
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>