<!-- src/main/resources/templates/board/details.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>게시판 세부 내용</title>
</head>
<body>

<img th:src="@{${board.filepath}}" width="100" height="200" />

<!-- 댓글 입력 폼 -->
<form role="form" th:action="@{'/boards/' + ${boardId} + '/comment'}" th:object="${commentForm}" method="post">
  <!-- <input type="text" th:field="*{comment}" class="form-control" placeholder="후기를 남겨주세요."> -->
  <br>
  <button type="submit">Submit Comment</button>
</form>

<!-- 게시물에 대한 댓글 목록 표시 -->

<div th:each="comments : ${comments}">
  <p th:text="${comments.comment}"></p>
</div>


</body>
</html>