<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
        <li><a href="/">독수리 기록실</a></li>
        <li><a href="/">독수리 경기일정</a></li>
        <li><a href="/">독수리 분석글</a></li>
        <li><a href="/">독수리 시즌정보</a></li>
        <li><a href="/">독수리 선수정보</a></li>
        <li><a href="/boards/all">독수리 자유게시판</a></li>
        <li><a href="/new">독수리 회원가입</a></li>
        <li><a href="/">대전 맛집</a> </li>
        <li><a href="/">구장 좌석 시야</a></li>
        <li><a href="/login">독수리 로그인</a></li>
    </ul>
    <a href="/"><h3 class="text-muted">한화이글스 언제 가을야구 가는겨~? </h3></a>
</div>
